{% extends "layout.html" %}

{% block header %}
<h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}
{% block main %}
<form action="/auth/login" method="post" class="text-center">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
            placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>
    <button id="logBtn" onclick="toggle('logBtn', 'loadingBtn');" class="btn btn-primary" style="width:120px" type="submit">Login</button>
    <button hidden id="loadingBtn" class="btn btn-primary" style="width:120px" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
</form>
{% endblock %}