{% extends "layout.html" %}

{% block header %}
<div class="center-up-flex-column mt-2 mb-3">
    <h1 class="center-up-flex-row">{% block title %}Register{% endblock %}</h1> 
</div>
{% endblock %}

{% block main %}
    <form action="/auth/register" method="post" class="center-up-flex-column">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <label for="confirmation" class="form-label">Confirm Password</label>
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Re-enter Password" type="password">
        </div>

        <button id="regBtn" onclick="toggle('regBtn', 'loadingBtn');" class="btn btn-primary" style="width:120px" type="submit">Register</button>
        <button hidden id="loadingBtn" class="btn btn-primary" style="width:120px" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
    </form>
{% endblock %}