{% extends "index.html" %}
{% block link %}
    <link rel="stylesheet" href="/rooms/static/styles.css">
{% endblock %}

{% block title %}Register{% endblock %}

{% block main %}
    <header class="center-up-flex column mt-2 mb-3">
        <h1 id="registerHeader" class="center-up-flex"></h1> 
    </header>
    <form action="/auth/register" method="post" class="center-up-flex column">
        <div class="mb-3">
            <label id="usernameLabel" for="username" class="form-label"></label>
            <input autocomplete autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <label id="passwordLabel" for="password" class="form-label"></label>
            <input autocomplete class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <label id="confirmPswrdLabel" for="confirmation" class="form-label"></label>
            <input autocomplete class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Re-enter Password" type="password">
        </div>

        <button id="registerBtn" onclick="toggle('registerBtn', 'LoadBtn');" class="btn btn-primary Btn" style="width:120px" type="submit"></button>
        <button hidden id="LoadBtn" class="btn btn-primary" style="width:120px" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <p id="loadingText"></p>
        </button>
        <input hidden id="langInput" type="text" name="language">
    </form>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/index.js')}}"></script>
<script src="{{url_for('static', filename='js/translations.js')}}"></script>
<script src="{{url_for('static', filename='js/i18n.js')}}"></script>
{% endblock %}