html, body {
    color: #DC7D19;
    position: relative;
    min-height: 100vh;
    font-family: 'EB Garamond', serif;
}

.btn-primary {
    background-color: #038ccb;
}
.btn-primary:hover {
    background-color: #037db6;
}

footer > a {
    color: #038ccb;
}

.stripe-1 {
    background: repeating-linear-gradient(
      135deg,
      #FCCF33,
      #FCCF33 55px,
      #FFE300 65px,
      #FFE300 70px
    );
}

.content {
    padding-bottom: 5rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #DC7D19;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #038ccb;
}

.nav-link {
    padding: 0 .5rem;
}

/* Style for brand */
.brand
{
    color: #038ccb !important;
    font-family: 'EB Garamond', serif;
            -webkit-text-stroke-width: .5px;
            -webkit-text-stroke-color: black;
    position: relative;
    padding: 0 10px 0 10px;
    transform: rotate(-1deg);
}

.navbar-light .navbar-toggler {
    color: #DC7D19;
}

nav a.frame {
    font-size: 25px;
    border: 1.5px solid #DC7D19;
    border-radius: 4px;
}

nav a.frame:hover {
    border: 1.5px solid #038ccb !important;
}
nav a.frame:hover > .brand {
    color: #DC7D19 !important;
}

.intro {
    margin: 0;
    transform: rotate(-2deg);
    position: relative;
    bottom: -10px;
}

h1 .brand {
    font-size: 90px;
    letter-spacing: 7.5px;
}

.brand > span {
    float: left;
}

.brand > .slant-left {
    transform: rotate(-8deg);
}

.brand > .slant-right {
    transform: rotate(4deg);
}

.brand > .offset-up {
    position: relative;
    top: -2.5px;
}

.brand > .offset-down {
    position: relative;
    bottom: -2.5px;
}

.brand > :last-child {
    position: relative;
    top: -1px;
    right: -2px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

.prt-3 {
    padding-right: 15px;
}

.center-up-flex-row, .center-up-flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-up-flex-column {
    flex-direction: column;
}

.flex-row-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.wrapper {
    max-width: 970px;
}

.responsive-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 5px solid #DC7D19;
    border-radius: 4px;
}


@media only screen and (min-width: 768px) {
    .index-content {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        gap: 60px;
    }
}

@media only screen and (max-width: 767px) {

    h1 .brand {
        font-size: 60px;
        letter-spacing: .5px;
    }
    .intro {
        font-size: 25px;
    }
    .responsive-img {
        max-width: 300px;
    }
    .startBtn {
        position: relative; 
        bottom: 90px;
    }
    .index-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #li1 {
        position: relative;
        top: -37.5px;
    }
    #li2 {
        position: relative;
        top: -25px;
    }
    #li3 {
        position: relative;
        top: -12.5px;
    }
}
  
  .dot-carousel {
      position: relative;
      top: 6px;
      left: -10000px;
      width: 5px;
      height: 5px;
      border-radius: 5px;
      background-color: #DC7D19;
      color: #DC7D19;
      box-shadow: 9990px 0 0 0 #DC7D19, 9999px 0 0 0 #DC7D19, 10008px 0 0 0 #DC7D19;
      animation: dot-carousel 1.5s infinite linear;
    }
    
    @keyframes dot-carousel {
      0% {
        box-shadow: 9990px 0 0 -1px #DC7D19, 9999px 0 0 1px #DC7D19, 10008px 0 0 -1px #DC7D19;
      }
      50% {
        box-shadow: 10008px 0 0 -1px #DC7D19, 9990px 0 0 -1px #DC7D19, 9999px 0 0 1px #DC7D19;
      }
      100% {
        box-shadow: 9999px 0 0 1px #DC7D19, 10008px 0 0 -1px #DC7D19, 9990px 0 0 -1px #DC7D19;
      }
    }