html, body {
    color: #DC7D19;
    position: relative;
    min-height: 100vh;
    font-family: 'EB Garamond', serif;
}

p {
    margin: 0;
}

button {
    margin-left: 0 !important;
}

.btn-primary {
    background-color: #038ccb;
}
.btn-primary:hover {
    background-color: #037db6;
}

.stripe-1 {
    background: repeating-linear-gradient(
      135deg,
      #FCCF33,
      #FCCF33 55px,
      #FFE300 65px,
      #FFE300 70px
    );
}

.navbar-light .navbar-nav .nav-link {
    color: #DC7D19;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #038ccb;
}

.nav-link {
    padding: 0 .5rem;
}

/* Style for brand */
.brand
{
    color: #038ccb !important;
    font-family: 'EB Garamond', serif;
            -webkit-text-stroke-width: .5px;
            -webkit-text-stroke-color: black;
    position: relative;
    padding: 0 10px 0 10px;
    transform: rotate(-1deg);
}

.navbar-light .navbar-toggler {
    color: #DC7D19;
}

nav a.frame {
    font-size: 25px;
    border: 1.5px solid #DC7D19;
    border-radius: 4px;
}

nav a.frame:hover {
    border: 1.5px solid #038ccb !important;
}
nav a.frame:hover > .brand {
    color: #DC7D19 !important;
}

.intro {
    margin: 0;
    transform: rotate(-2deg);
    position: relative;
    bottom: -10px;
}

h1 .brand {
    font-size: 90px;
    letter-spacing: 7.5px;
}

.brand > span {
    float: left;
}

.brand > .slant-left {
    transform: rotate(-8deg);
}

.brand > .slant-right {
    transform: rotate(4deg);
}

.brand > .offset-up {
    position: relative;
    top: -2.5px;
}

.brand > .offset-down {
    position: relative;
    bottom: -2.5px;
}

.brand > :last-child {
    position: relative;
    top: -1px;
    right: -2px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer > a {
    color: #038ccb;
}

.github-container {
    display: flex;
    align-items: center;
}

.prt-3 {
    padding-right: 15px;
}
.plt-3 {
    padding-left: 15px;
}

.center-up-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.align-center {
    align-items: center;
}

.flex-column-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.index-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

.responsive-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 5px solid #DC7D19;
    border-radius: 4px;
}
  
.dot-carousel {
    position: relative;
    top: 6px;
    left: -10000px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #DC7D19;
    color: #DC7D19;
    box-shadow: 9990px 0 0 0 #DC7D19, 9999px 0 0 0 #DC7D19, 10008px 0 0 0 #DC7D19;
    animation: dot-carousel 1.5s infinite linear;
}

.wrapper {
    max-width: 1350px;
}

#LoadBtn {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}
    
@keyframes dot-carousel {
    0% {
    box-shadow: 9990px 0 0 -1px #DC7D19, 9999px 0 0 1px #DC7D19, 10008px 0 0 -1px #DC7D19;
    }
    50% {
    box-shadow: 10008px 0 0 -1px #DC7D19, 9990px 0 0 -1px #DC7D19, 9999px 0 0 1px #DC7D19;
    }
    100% {
    box-shadow: 9999px 0 0 1px #DC7D19, 10008px 0 0 -1px #DC7D19, 9990px 0 0 -1px #DC7D19;
    }
}

@media screen and (max-width: 1400px) {
    .wrapper {
        max-width: 970px;
    }
}

@media screen and (max-width: 300px) {
    .content {
        margin-top: 20px;
    }
    main {
        margin-top: 15px;
    }
    .intro {
        font-size: 19px;
        margin-top: 20px;
        margin-bottom: 7px;
    }
    h1 .brand {
        font-size: 42px !important;
    }
    .index-content {
        flex-direction: column;
        margin-top: 5px;
        gap: 10px !important;
    }
    .responsive-img {
        max-width: 250px;
    }
}

@media screen and (max-width: 540px){
    h1 .brand {
        font-size: 60px;
        letter-spacing: .5px;
    }
    .intro {
        margin-top: 20px;
        font-size: 22px;
    }
    .responsive-img {
        max-width: 300px;
    }
    .index-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
    
@media screen and (min-width: 750px) and (max-width: 899px) and (min-height: 900px) {
    .navbar-brand .brand {
        font-size: 32px !important;
    }
    .navbar-nav {
        font-size: 20px;
    }
    .content {
        margin-top: 45px;
    }
    .intro {
        font-size: 45px;
        margin-top: 20px;
    }
    h1 .brand {
        font-size: 115px !important;
    }
    .index-content {
        flex-direction: column;
        margin-top: 25px;
    }
    .responsive-img {
        max-width: 425px;
    }
    .Btn, #LoadBtn {
        width: 185px !important;
        font-size: 30px;
    }
    .Btn {
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;
    }
    #LoadBtn > span {
        width: 1.5rem !important;
        height: 1.5rem !important;
        border-width: 0.15em !important;
    }
    .github-container, .lang-btn {
        font-size: 20px;
    }
    .github-container > a > i {
        font-size: 30px !important;
    }
}

@media screen and (min-width: 900px) and (min-height: 900px) {
    .navbar-brand .brand {
        font-size: 34px !important;
    }
    .navbar-nav {
        font-size: 21px;
    }
    .content {
        margin-top: 60px;
    }
    .intro {
        font-size: 50px;
    }
    h1 .brand {
        font-size: 125px !important;
    }
    .index-content {
        flex-direction: column;
        margin-top: 35px;
    }
    .responsive-img {
        max-width: 525px;
    }
    .Btn, #LoadBtn {
        width: 200px !important;
        font-size: 30px;
    }
    #LoadBtn > span {
        width: 1.5rem !important;
        height: 1.5rem !important;
        border-width: 0.15em !important;
    }
    .github-container, .lang-btn {
        font-size: 25px;
    }
    .github-container > a > i {
        font-size: 40px !important;
    }
    .langSelect {
        width: 172px !important;
    }
}

@media screen and (min-height: 1100px) {
    .content {
        margin-top: 100px;
    }
}

.langSelect {
    width: 125px;
    position: relative;
}

.lang-list {
    width: inherit;
}

.translation {
    border: 1px solid #0d6efd;
    border-radius: 5px;
}

.translation.active {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.lang-btn {
    width: inherit;
    color: #DC7D19 !important;
    background-color: #ffe100f0;
    padding: 1px 10px;
    font-weight: 600;
    letter-spacing: 1px;
}
.lang-btn:hover {
    color: #0d6efd !important;
}

.select-items {
    border: none;
    text-align: center;
    border-left: 1px solid #0d6efd;
    border-right: 1px solid #0d6efd;
    position: absolute;
    z-index: 99;
    width: inherit;
}

.select-items.top {
    border-top: 1px solid #0d6efd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    bottom: 452%;
}
.select-items.second {
    bottom: 368%;
}
.select-items.third {
    bottom: 289%;
}
.select-items.fourth {
    bottom: 194%;
}
.select-items.bottom {
    bottom: 100%;
}
