{% extends 'index.html' %}

{% block header %}
<div class="center-up-flex-column mt-4 mb-3">
    <h1 class="center-up-flex-row">{% block title %}Create Room{% endblock %}</h1> 
</div>
{% endblock %}

{% block main %}
    <form method="post" class="center-up-flex-column">
        <div class="mb-3">
            <label class="form-label" for="room_name">Room Name:</label>
            <input type="text" name="room_name" class="form-control mx-auto w-auto">
        </div>

        <button id="logBtn" onclick="toggle('logBtn', 'loadingBtn');" class="btn btn-primary" style="width:120px" type="submit">Submit</button>
        <button hidden id="loadingBtn" class="btn btn-primary" style="width:120px" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>    
    </form>
    <script src="{{url_for('static', filename='index.js')}}"></script>
{% endblock %}

