{% extends 'index.html' %}

{% block link %}
    <link rel="stylesheet" href="/rooms/static/styles.css">
{% endblock %}

{% block title %}Create Room{% endblock %}

{% block main %}
    <div class="center-up-flex column mt-4 mb-3">
        <h1 id="createRoomHeader" class="center-up-flex"></h1> 
    </div>
    <form method="post" class="center-up-flex column">
        <div class="mb-3">
            <label id="roomnameLabel" class="form-label" for="room_name"></label>
            <input id="roomName" autocomplete type="text" name="room_name" class="form-control mx-auto w-auto">
        </div>

        <button disabled id="createRoomBtn" onclick="toggle('createRoomBtn', 'loadingBtn');" class="btn btn-primary Btn" style="width:140px" type="submit"></button>
        <button hidden id="loadingBtn" class="btn btn-primary" style="width:140px" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <p id="loadingText"></p>
        </button>
        <input hidden id="langInput" name="language" type="text">    
    </form>

{% endblock %}

{% block scripts %}
<script>
    const roomName = document.getElementById('roomName');
    roomName.addEventListener('change', () => {
        if (roomName.value) {
            document.getElementById('createRoomBtn').removeAttribute('disabled');
        };
    }); 
    user = '{{username}}'; 
</script>
<script src="{{url_for('static', filename='js/index.js')}}"></script>
<script src="{{url_for('static', filename='js/translations.js')}}"></script>
<script src="{{url_for('static', filename='js/i18n.js')}}"></script>
{% endblock %}

