{% extends 'index.html' %}

{% block header %}
<div class="center-up-flex-column mt-2 mb-3">
    <h1 class="center-up-flex-row">{% block title %}Join Room{% endblock %}</h1> 
</div>
{% endblock %}

{% block main %}
    <div class="center-up-flex-column">
        <h3 class="mb-4">Welcome <strong>{{username}}</strong>. Select a room to begin</h3>

        <form method="post" id="joinRoomForm" class="center-up-flex-column w-100"> 
            <div class="form-group w-50">
                <label class="mb-1" for="select">Select Room</label>
                <select id="roomSelect" name="roomSelect" class="form-select mb-2" type="select" aria-label="room select dropdown">
                    <option value="">--none--</option>
                    {% for room in rooms %}
                    <option>{{room["name"]}}</option>
                    {% endfor %}
                </select>
            </div>

            <button disabled id="joinRoomBtn" onclick="toggle('joinRoomBtn', 'loadingBtn');" class="btn btn-primary" style="width:120px" type="submit">Go To Room</button>
            <button hidden id="loadingBtn" class="btn btn-primary" style="width:120px" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </form>
    </div>
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <script>
        document.getElementById('roomSelect').addEventListener('change', () =>{
        const select = document.getElementById('roomSelect');
        if (select.value != 'none') {
                document.getElementById('joinRoomBtn').removeAttribute('disabled');
            };
        }); 
    </script>
{% endblock %}