{% extends 'layout.html' %}

{% block header %}
<div class="center-up-flex-column">
    <h1 class="center-up-flex-row">{% block title %}Players{% endblock %}</h1> 
    <div id="users"></div>
</div>
{% endblock %}

{% block main %}
<div class="center-up-flex-column">
    <div id="messages"></div>
    <form id="input_form" class="center-up-flex-column">    
        <input class="form-control mx-auto w-auto mb-2" type="text" id="input" placeholder="message">
        <button class="btn btn-primary">Send</button>
    </form>
</div>

<script>
    const socket = io("http://localhost:5000");
    // user joining socketio room from client on connection
    socket.on('connect', function (){
        socket.emit('join_room', {
            username: "{{data['user']}}",
            room: "{{data['room']}}"
        });
    });

    // client receiving user joined room announcement and displays on page
    const input = document.getElementById('input');
    input.focus();
    const messagesContainer = document.getElementById('messages');

    socket.on('join_room_announcement', function (data){
        console.log(data);
        const pTag = document.createElement('p');
        pTag.innerHTML = `<b>${data.username}</b> has joined the room`;
        messagesContainer.appendChild(pTag)
    });

    // client emits send_message event on form input submission
    const input_form = document.getElementById('input_form')
    input_form.onsubmit = (e) => {
        e.preventDefault();
        let message = input.value.trim();
        if (message.length) {
            socket.emit('send_message', {
                username: "{{data['user']}}",
                room: "{{data['room']}}",
                message: message
            })
        }
        input.value = '';
        input.focus();
    }

    // client receives message from another client in the room
    socket.on('receive_message', function (data){
        console.log(data);
        const pTag = document.createElement('p');
        pTag.innerHTML = `<b>${data.username}</b> says: ${data.message}`;
        messagesContainer.appendChild(pTag)
    });

    // pTag.innerHTML = JSON.parse('{{ data['user'] | tojson }}');
</script>
{% endblock %}