{% extends 'index.html' %}
{% block link %}
    <link rel="stylesheet" href="/rooms/static/styles.css">
{% endblock %}

{% block header %}
<div class="flex-row-between" style="width:auto">
    <h6 class="center-up-flex-row">{% block title %}GameRoom{% endblock %}: <br>{{ room_name }}</h6>
    <h6 id="scoreboard">Score: 0</h6> 
</div>
{% endblock %}

{% block main %}
    <h5 id="announcements" class="center-up-flex-column"></h5>
    
    <div id="componentContainer" class="center-up-flex-column">
        <div id="component"></div>
    </div>
    
    <script>
        const username = '{{current_user.username}}';
        const user_id = '{{current_user.id}}';
        const room_name = '{{room_name}}';
    </script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <script src="{{url_for('rooms.static', filename='js/components.js')}}"></script>
    <script src="{{url_for('rooms.static', filename='js/canvas.js')}}"></script>
    <script src="{{url_for('rooms.static', filename='js/socketio.js')}}"></script>
    <script>
        const content = document.querySelector('.content');
        content.classList.remove('content');
    </script>

{% endblock %}

