{% extends 'index.html' %}
{% block link %}
    <link rel="stylesheet" href="/rooms/static/styles.css">
{% endblock %}

{% block title %}GameRoom{% endblock %}

{% block main %}
    <header id="header" class="flex-between" style="width:auto">
        <div class="column">
            <h6 id="gameRmSpan" style="margin-bottom: 0;"></h6>
            <h6 >{{ room_name }}</h6> 
        </div>
        <div class="flex-column-end" id="scoreboard">
            <h6 id="topScore" style="margin-bottom: 0;"></h6>
            <h6 class="float-right" id="score"><span id="initScore"></span></h6> 
        </div>
    </header>

    <h5 id="announcements" class="center-up-flex column"></h5>
    
    <div id="componentContainer" class="center-up-flex column">
        <div id="component"></div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/index.js')}}"></script>
<script>
    const contentElement = document.querySelector('.content');
    contentElement.classList.remove('content');
    user = '{{current_user.username}}';
    const user_id = '{{current_user.id}}';
    const room_name = '{{room_name}}';
</script>
<script src="{{url_for('static', filename='js/translations.js')}}"></script>
<script src="{{url_for('static', filename='js/i18n.js')}}"></script>
<script src="{{url_for('rooms.static', filename='js/httpClient.js')}}"></script>
<script src="{{url_for('rooms.static', filename='js/components.js')}}"></script>
<script src="{{url_for('rooms.static', filename='js/canvas.js')}}"></script>
<script src="{{url_for('rooms.static', filename='js/socketio.js')}}"></script>
{% endblock %}

