{% extends 'index.html' %}
{% block link %}
    <link rel="stylesheet" href="/rooms/static/styles.css">
{% endblock %}

{% block header %}
<div class="center-up-flex-column  mt-2 mb-3">
    <h1 class="center-up-flex-row">{% block title %}GameRoom{% endblock %}: {{ room_name }}</h1> 
</div>
{% endblock %}

{% block main %}
    <h5 id="announcements" class="center-up-flex-column px-3 mt-2 mb-3"></h5>

    <div class="center-up-flex-row">
        <h4 id="heading"></h4>
    </div>
    
    <div class="center-up-flex-column">
        <div id="component"></div>
    </div>
    
    <script>
        const username = '{{current_user.username}}';
        const user_id = '{{current_user.id}}';
        const room_name = '{{room_name}}';
    </script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <script src="{{url_for('rooms.static', filename='js/components.js')}}"></script>
    <script src="{{url_for('rooms.static', filename='js/canvas.js')}}"></script>
    <script src="{{url_for('rooms.static', filename='js/socketio.js')}}"></script>
    <!-- <script src="{{url_for('rooms.static', filename='js/index.js')}}"></script> -->

{% endblock %}

